@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<style>
.brand-logo .bi {font-size:4rem;}
</style>
<div class="container">
    <div class='alert alert-primary alert-dismissible fade show mt-3' role='alert'>
        Our company did something extraordinary. Read about it <a href='#'>here</a>.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class='row'>
        <div class='col-lg-8'>
            <p class='display-1 fw-bold'>
                You've never seen software do <span class='text-primary'>this</span>.
            </p>
            <p class='lead'>
                Change the way your business deals with technology. With build tools for 10 languages and 35 frameworks, our products are sure to fit into your tech stack.
            </p>
        </div>
        <div class='col-lg'>
            <div class='card shadow'>
                <div class='card-body'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <span class='text-primary fw-bold'>eiusmod tempor</span> incididunt ut labore et dolore magna aliqua. 
                    Lorem donec massa sapien faucibus et molestie ac. Sagittis nisl rhoncus mattis rhoncus urna neque. <span class='text-primary fw-bold'>Suspendisse faucibus</span> interdum posuere lorem ipsum. 
                    Tellus cras adipiscing enim eu turpis egestas pretium. 
                </div>
            </div>
        </div>
    </div>
</div>

<div class='jumbotron mt-3 text-light bg-lightgray p-4'>
    <div class='container text-center brand-logo'>
        <p>500+ companies use TechCompany software every day</p>
        <hr class='text-light'>
        <i class="bi bi-apple mx-3"></i>
        <i class="bi bi-slack mx-3"></i>
        <i class="bi bi-vimeo mx-3"></i>
        <i class="bi bi-microsoft mx-3"></i>
        <i class="bi bi-spotify mx-3"></i>
        <i class="bi bi-steam mx-3"></i>
    </div>
</div>

<div class='container mt-4'>
    <div class='pb-3'>
        <div class='row'>
            <div class='col-lg'>
                <div class='card border-primary m-3'>
                    <div class='card-body text-primary'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <span class='text-primary fw-bold'>eiusmod tempor</span> incididunt ut labore et dolore magna aliqua. 
                        Lorem donec massa sapien faucibus et molestie ac. Sagittis nisl rhoncus mattis rhoncus urna neque. <span class='text-primary fw-bold'>Suspendisse faucibus</span> interdum posuere lorem ipsum. 
                        Tellus cras adipiscing enim eu turpis egestas pretium. 
                    </div>
                </div>
            </div>
            <div class='col-lg'>
                <div class='card border-dark m-3'>
                    <div class='card-body text-dark'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <span class='text-dark fw-bold'>eiusmod tempor</span> incididunt ut labore et dolore magna aliqua. 
                        Lorem donec massa sapien faucibus et molestie ac. Sagittis nisl rhoncus mattis rhoncus urna neque. <span class='text-dark fw-bold'>Suspendisse faucibus</span> interdum posuere lorem ipsum. 
                        Tellus cras adipiscing enim eu turpis egestas pretium. 
                    </div>
                </div>
            </div>
            <div class='col-lg'>
            <div class='card border-primary m-3'>
                <div class='card-body text-primary'>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <span class='text-primary fw-bold'>eiusmod tempor</span> incididunt ut labore et dolore magna aliqua. 
                    Lorem donec massa sapien faucibus et molestie ac. Sagittis nisl rhoncus mattis rhoncus urna neque. <span class='text-primary fw-bold'>Suspendisse faucibus</span> interdum posuere lorem ipsum. 
                    Tellus cras adipiscing enim eu turpis egestas pretium. 
                </div>
            </div>
            </div>
            
        </div>
        
    </div>
</div>

<div class='jumbotron bg-primary mt-3 text-light p-4'>
    <div class='container'>
        <h1>Why TechCompany?</h1>
        <hr style='height:0.2rem;background-color: #fff;'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqui</p>
        <div class='row'>
            <div class='col'>
                <p class='display-1 fw-bold'>95%</p>
                <p class='lead'>Is an effective statistic at displaying the fact that we work hard</p>
            </div>
            <div class='col'>
                <p class='display-1 fw-bold'>150+</p>
                <p class='lead'>Is a powerful number at illustrating this point</p>
            </div>
            <div class='col'>
                <p class='display-1 fw-bold'>65+</p>
                <p class='lead'>Does a great job showing the worldwide impact</p>
            </div>
            <div class='col'>
                <p class='display-1 fw-bold'>100M+</p>
                <p class='lead'>Is a massive number of things</p>
            </div>
        </div>
    </div>
</div>
