@page
@model IndexModel
@{
    ViewData["Title"] = "Products";
}
<div class='jumbotron p-3'>
    <div class='container'>
        <p class='display-3 fw-bold'>Products</p>
    </div>
</div>
<div class='container'>
    <div class='card shadow'>
        GUY IT
    </div>
</div>  